server:
  port: 8082

spring:
  application:
    name: book-service
  profiles:
    active: dev # Default profile

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, readiness, liveness
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      pricingService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED
        minimumNumberOfCalls: 5
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
  retry:
    instances:
      pricingService:
        maxAttempts: 3
        waitDuration: 1s
